// The section overall
.section-about {
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    padding: 150px 0;
    width: 100%;
    height: 95vh;
    align-items: center;

    @media screen and (max-width: 900px) {
        padding: 100px 0;
    }
}

// Heading secondary for signin page
.heading-secondary {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    background-image: linear-gradient(to right, #09203f, #537895);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;

    @media screen and (max-width: 900px) {
        font-size: 15px;
        letter-spacing: 0px;
    }
}

.heading-small {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-image: linear-gradient(to right, #09203f, #537895);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: center;

    @media screen and (max-width: 900px) {
        font-size: 15px;
        letter-spacing: 0px;
    }
}

/* STRUCTURE */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 50px;
    background-color: rgba(223, 213, 213, 0.6);
    padding: 20px;
    width: 30%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    padding-bottom: 40px;
    @media screen and (max-width: 900px) {
        width: 60%;
    }
}

.wrapper:hover {
    transform: scale(1);
}

.mini_header {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    color: rgb(22, 60, 82);
    transition: all 0.2s;
    text-align: center;
    margin: 20px;
    @media screen and (max-width: 900px) {
        font-size: 20px;
    }
}

/* 
/* FORM TYPOGRAPHY*/

.input-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 25px 4px #ebebeb;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    width: 30%;
    @media screen and (max-width: 900px) {
        width: 60%;
    }
}

.field {
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 25px rgba(27, 27, 27, 0.4);
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.25);
    width: 30%;
    padding: 5px;
    @media screen and (max-width: 900px) {
        width: 60%;
    }
}
